<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
	
	{% if page.tipue_search_active or layout.tipue_search_active %}
	<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
	<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
	<script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
	<script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
	{% endif %}

  </head>
  <body>
    <div class="wrapper">
      <header>
		<a href="https://jgermita.github.io/frc-parts/">
		<img src="https://jgermita.github.io/frc-parts/partslogo_small.png"> </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
		
		<script>
		function process()
		{
		var url="https://jgermita.github.io/frc-parts/search/?q=" + document.getElementById("url").value;
		location.href=url;
		return false;
		}
		</script>
		<form onSubmit="return process();">
		<input type="text" name="url" id="url"> <input type="submit" value="search">
		</form>
		
		<br><br>
		<a href="https://jgermita.github.io/frc-parts/electrical.html">Electrical</a>	<a href="https://jgermita.github.io/frc-parts/gears.html">Gears</a>	<a href="https://jgermita.github.io/frc-parts/hardware.html">Hardware</a>
		<br>
		<a href="https://jgermita.github.io/frc-parts/materials.html">Materials</a>	<a href="https://jgermita.github.io/frc-parts/misc.html">Misc</a>	<a href="https://jgermita.github.io/frc-parts/pneumatics.html">Pneumatics</a>
		<br>
		<a href="https://jgermita.github.io/frc-parts/pulleysbelt.html">Pulleys/Belt</a>	<a href="https://jgermita.github.io/frc-parts/sprocketschain.html">Sprockets/Chain</a>	<a href="https://jgermita.github.io/frc-parts/tools.html">Tools</a>
		<br>
		<a href="https://jgermita.github.io/frc-parts/wheels.html">Wheels</a>
		<br>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        
        <p><small>EWCP / Team 5012 Gryffingear<br>Jeremy Germita<br>Disclaimer: Information not guaranteed to be up to date. Please use <a href="https://docs.google.com/forms/d/e/1FAIpQLSeWyY8v3RgOty-MyWmh9U0iivNYN_molChYyS-0U-o-kOAv_g/viewform">this form</a> if any information is incorrect. Information presented does not represent an official endorsement by any team. <br>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>